#test {
    color: blueviolet;
  }
  body{
    margin: 0;
  }
  
  h1 {
    color: blue;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px gray solid;
    margin: 0;
  }

  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  #pic{
    border: 5px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    row-gap: 3px;
  }

  #grid ol {
    padding-left: 30px;
  }

  #grid p{
    padding-left: 30px;
  }
  #grid h2{
    padding-left: 30px;
  }

  ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
  
  a {
    color : black;
    text-decoration: none;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #article{
    padding-left: 20px;
  }
  
  #active {
    color: red;
    
  }
  
  .saw {
    color: blueviolet;
  }